<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.google.android.apps.pixelperfect.platform"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_cat"
        android:label="@string/platform_app_name" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <service
            android:name=".PixelPerfectPlatform"
            class=".PixelPerfectPlatform"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.android.apps.pixelperfect.api.IPixelPerfectPlatform" />
            </intent-filter>
        </service>
    </application>
</manifest>
